<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script>
        var name = "TestItem";
        var account = "TestAccount";
        window.onload = function () {
            document.getElementById("test").innerHTML = name;
            document.getElementById("account").innerHTML = account;
        }
    </script>


</head>

<body>



    <header class="border-bottom border-dark">
        <nav class="navbar" style="background-color: white;">
            <div class="container-xxl">
                <div class="col-9">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="navbar-brand text-dark fs-2" href="/">MarketOnChain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fs-4 text-dark" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fs-4 text-dark" aria-current="page" href="/market">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fs-4 text-dark" aria-current="page" href="/add">Add</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <button id="account" type="button" class="btn btn-dark mx-3 text-white">
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <section class="m-5">
        <div class="container">
            <div class="row">
                <div class="col"><img src="" alt="item"></div>
                <div class="col">
                    <div class="coantainer">
                        <h2 class="my-4" id="test"></h2>
                        <h3 class="my-3">Venfor: </h3>
                        <h3 class="my-3">Price: </h3>
                        <form action="" method="post" class="w-50">
                            <input class="form-control" type="text" id="price" name="price"
                                placeholder="Enter your price">
                            <button type="submit" class="btn btn-success btn-lg my-4">Buy</button>
                            <a href="/market" type="button" class="btn btn-danger btn-lg my-4 mx-3">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>